@{
    ViewBag.Title = "Index";
}
<div id="product-content"></div>
<script src="~/Scripts/Controllers/Product/Products.js"></script>
<script type="text/javascript">
    window.product.init();
</script>